<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; Error!</%block>

<%block name="page_header_title">

</%block>

<%block name="left_content">

</%block>


<%block name="site_content">
    <div class="content" style="font-family: Century Gothic, Helvetica; text-align: center;">
        <p style="font-size: 175px; color: rgb(100, 6, 6);">Whoops!</p>
        <p style="font-size: 45px;">You don't have permission to view that page!</p>
        <p style="font-size: 35px;">Try Logging in or contact administration to fix this error</p>
     
      </div>
</%block>

<%block name="right_content">

</%block>