<%inherit file="/homepage/templates/base.htm" />



<%block name="navbar_items">
<li class="mynav-item">
    <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/">Home</a>
  </li>
  <li class="mynav-item">
      <a class="nav-link ${ 'active' if request.dmp.page =='contact' else ' '}" href="/contact/">Contact</a>
    </li>
    <li class="nav-item mynav-item">
      <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/catalog/">Catalog</a>
    </li>             
</%block>

<%block name="left_content">



</%block>

<%block name="right_content">

<p class="quote">
  Don’t go just stay<br>
Let’s stop time now<br>
If I’m with you<br>
I could die in this moment<Br>
Forever young<br>

-Blackpink "Forever Young"
</p>

</%block>