<%inherit file="app_base.htm" />

<%block name="page_header_title">
Login
</%block>

<%block name="page_title">&mdash; Login</%block>

<%block name="left_content">

</%block>


<%block name="site_content">
    <div class="content" style="margin-left:25%; padding-right:25%; width: 50%">

        <form action="" method="post">
            
            <table class="formlabel">
            ${ form }
            </table>
            <p style="margin-left:80%; margin-top:15px;"><input type="submit" class="btn btn-outline-secondary mybtn"/></p>
          </form>

      </div>
</%block>

<%block name="right_content">

</%block>