@font-face {
  font-family: "Josefin";
  src: url("fonts/JosefinSans-Regular.ttf") format("truetype");
  src: local("fonts/JosefinSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url("fonts/CenturyGothic.ttf") format("truetype");
  src: local("fonts/CenturyGothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url("fonts/GOTHICB0.ttf") format("truetype");
  src: local("fonts/GOTHICB0.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url("fonts/GOTHICI.ttf") format("truetype");
  src: local("fonts/GOTHICI.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Glyphter";
  src: url("fonts/Glyphter.ttf") format("truetype");
  src: local("fonts/Glyphter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #777788;
  background-image: url("/static/homepage/media/background 1.jpg");
  background-size: 100%;
}

.back2 {
  margin: 0;
  padding: 0;
  background-image: url("/static/homepage/media/head2.jpg");
  background-size: 100%;
}

.backtime {
  background-image: url("/static/homepage/media/teal.jpg");
}

footer {
  text-align: center;
  color: #33ccff;
}

.clearfix {
  clear: both;
}

#bigTitle {
  margin-top: 70px;
}

.bolder {
  font-weight: bolder;
}

.content {
  background-color: rgba(255, 255, 255, 0.425);
  padding: 20px 30px;
  align-content: center;
  align-self: center;
}

.show {
  display: inline-block;
}

header {
  text-align: center;
}

.active {
  font-weight: bolder;
  background-color: #08a58d48;
  box-shadow: #08a58d48 0px 0px 20px 10px;
}

.myNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(199, 199, 199, 0.267);
}

.myNav > li {
  float: left;
}

.myNav > li a {
  display: block;
  color: #106452;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.myNav > li a:hover {
  background-color: #111;
}

header > .title {
  margin-top: 40px;
  display: inline-block;
  color: white;
  font-family: "Century Gothic";
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 2px 2px 3px rgba(19, 233, 240, 0.7);
  vertical-align: middle;
}

header img {
  height: 50px;
  top: 10px;
  left: 10px;
  display: inline-block;
  margin-right: 24px;
  margin-left: 25px;
}

#Topbar {
  background-color: rgba(255, 255, 255, 0.842);
  box-shadow: #6fc2be88 2px 2px 20px 10px;
  position: fixed;
  z-index: 8000;
  width: 100%;
  font-family: "Century Gothic";
  font-variant: small-caps;
}

nav {
  display: inline-block;
}

header h1 {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

h3 {
  color: #08a58e;
  text-align: right;
  font-size: 24px;
}

.formlabel {
  color: #272727;
  font-weight: lighter;
  font-size: 28px;
  font-family: "Century Gothic";
}

.forminput {
  font-style: italic;
  font-weight: lighter;
  font-family: "Josefin";
  padding-left: 10px;
  color: gray;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: lightgrey;
  font-size: 24px;
  margin: 10px;
}

.size {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mybtn {
  font-size: 25px;
  font-weight: 50;
  border-radius: 10px;
  padding: 10px;
  color: #006d67;
  font-family: "Josefin";
  border: none;
}

.mybtn:hover {
  text-decoration: none;
  border: none;
  color: #03413d;
}

.buybtn {
  box-shadow: none;
  background-color: #2ca82c;
  color: white;
  padding: 10px;
}

main {
  margin: 0;
  padding: 15px;
  position: relative;
}
main #site_left {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  z-index: 8001;
}
main #site_middle {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: whitesmoke;
  border-width: 10px;
  border-style: solid;
  min-width: 385px;
  width: 80%;
  min-height: 200px;
  position: absolute;
  margin-right: 10%;
}
main #site_right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.product_container {
  width: 100%;
}

.lefton {
  margin-left: 10%;
  -webkit-transition: margin-left 1s;
}

.leftoff {
  margin-left: 40px;
  -webkit-transition: margin-left 1s;
}

.rightoff {
  margin-right: 40px;
  -webkit-transition: margin-right 1s;
}

.righton {
  margin-right: 10%;
  -webkit-transition: margin-right 1s;
}

footer {
  margin-top: 40px;
  border-top: 1px solid #CCCCCC;
  text-align: right;
}

footer a {
  display: inline-block;
  color: rgba(255, 255, 0, 0.815);
  margin: 15px 10% 0 0;
}

.copy {
  color: #0336345e;
  font-family: "Century Gothic";
  text-align: center;
}

.mydropdown {
  color: #0a8369;
  background-color: #bcfcee;
}

a {
  color: darkcyan;
}

.mydropdown a {
  color: #085c49;
}

.mydropdown a:hover {
  background-color: #99eedc00;
  font-weight: bold;
}

.userimage {
  width: 100px;
  border-radius: 50px;
}

.loginimg {
  float: right;
  top: -47px;
  left: -140px;
  position: relative;
  height: 35px;
  width: auto;
  border-radius: 20px;
  padding-top: 0;
  margin-top: 0;
}

.quote {
  color: #4e53526e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  padding: 5px;
  vertical-align: middle;
}

.link {
  color: #0a8369;
}

.link :hover {
  color: #065c49;
  text-decoration: none;
}

.filters {
  background-color: rgba(231, 231, 231, 0.767);
  padding: 16px;
  border: 10px rgba(245, 245, 245, 0.589) solid;
}

.filters ul {
  padding: 0;
  position: relative;
}

.filterpanel {
  position: fixed;
}

#filterbtn {
  background-color: rgba(245, 245, 245, 0.589);
  border: none;
  color: #065c49;
  font-family: "Glyphter";
  font-weight: bolder;
  border: 5px rgba(245, 245, 245, 0.589) solid;
  -webkit-transition: margin-left 0.8s;
}

.buttonout {
  margin-left: 160px;
  -webkit-transition: margin-left 2s 0.5s;
}

.visible {
  max-width: 10%;
  -webkit-transition: max-width 0.1s, margin-left 1s;
}

.hidden {
  max-width: 0px;
  margin-left: 10%;
  -webkit-transition: max-width 9s, margin-left 1s;
}

.hide {
  display: none;
}

.optionButton {
  width: 85px;
  align-content: center;
  border: none;
  background-color: rgba(255, 255, 255, 0.808);
}

.optionButton img {
  width: 80px;
  padding: 10px;
}

@media (max-width: 380px) {
  .homeImg {
    margin-left: 25%;
    width: 50%;
  }

  .mynav-item {
    display: none;
  }
}
@media (max-width: 680px) {
  .lefton {
    margin-left: 40px;
  }
}

/*# sourceMappingURL=base.scss.css.map */
