.scoreTable{
    width:100%;
    border:solid 10px lightgrey;
    margin:20px;
    padding:20px;
    font-family: 'Century Gothic','Arial','Sans-Serif';
}

.scoreTableRow{
    padding:10px;
}

.scoreTableName{
    color:black;
}

.scoreTablePart{
    color:rgba(0, 0, 0, 0.76);
}

.scoreTableLink{
    color:rgb(6, 116, 106);
    font-weight: bold;
}