<%inherit file="/homepage/templates/base.htm" />

<%block name="BodyBackImage">
<style>
body{
    background-image: url("https://storage.cloud.google.com/rifftidesite-content/tealsparkle.png?authuser=1");
}
</style>
</%block>

<%block name="head">
<style>
.backlink{
    color:rgb(138, 138, 138);
    font-family: 'Century Gothic','Arial','Sans-Serif';
    margin-bottom:100px;
}

.scoreTable{
    width:100%;
    border:solid 10px lightgrey;

    padding:20px;
    font-family:  'Century Gothic','Arial','Sans-Serif';
}

.darkRow{
    background-color:rgba(211, 211, 211, 0.562);
}

.scoreTableRow{
    padding:10px;
}

.scoreTableName{
    color:black;
    font-weight: bold;
    font-size:26px;
}

.scoreTablePart{
    color:rgba(0, 0, 0, 0.76);
    font-style: italic;
    font-size: 24px;
    text-align: left;
}

.scoreTableLinks{
    width:40%;
}

.scoreTableAll{
    color:rgb(6, 116, 106);
    font-weight: bold;
    float:right;
    font-size: 24px;
}

</style>
</%block>

<%block name="left_content">

</%block>

<%block name="right_content">


</%block>
