<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; Portal</%block>


<%block name="bodclass">
class="back2"
</%block>

<%block name="page_header_title">
Scores
</%block>

<%block name="left_content">

</%block>


<%block name="site_content">
    <div class="content">
<table class="scoreTable">
    %for score in Scores:
    <tr class="scoreTableRow ${ 'darkRow' if score.id % 2 == 0 else ''}">
        <td class="scoreTableName">
            ${score.name}
        </td>
        <td class="scoreTableLinks" >
            <a class="scoreTablePart" href="/portal/score/${score.id}/1">${score.part}</a>
            <a class="scoreTableAll" href="/portal/score/${score.id}/0">All Parts</a>
        </td>
    </tr>
    %endfor
</table>
     
      </div>
</%block>

<%block name="right_content">

</%block>