<%inherit file="app_base.htm" />

<%block name="page_title">&mdash; Portal</%block>

<%block name="bodclass">
gs://rifftidesite-content/tealsparkle.png
</%block>

<%block name="page_header_title">
${title}
</%block>

<%block name="left_content">

</%block>


<%block name="site_content">
            <iframe src="https://flat.io/embed/${Url}?layout=track&branding=false&controlsPrint=false&controlsPosition=top&themeIconsPrimary=%23000000&themeControlsBackground=%23000000&themeSlider=%2312fccd&themeCursorV0=%2355fbda&sharingKey=164bcd1f4d8c50336b4e96d38ff26bb5a8c851970bada3baa25857b0184d2a051a6c11e5d9b42d074ba50f0838632d1aca23caab542e19a2e6aacba2f5b4b00e" width="100%" height="1000vh" frameBorder="0" allowfullscreen allow="midi"></iframe>
            <a class="backlink" href="/portal/">Back to scores</a>
</%block>

<%block name="right_content">

</%block>