<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod %>


<%block name="page_title">&mdash; Catalog</%block>


<%block name="page_header_title">
Catalog
</%block>


<%block name="navbar_items">
<li class="mynav-item">
  <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/">Home</a>
</li>
<li class="mynav-item">
    <a class="nav-link ${ 'active' if request.dmp.page =='contact' else ' '}" href="/contact/">Contact</a>
  </li>
  <li class="nav-item mynav-item">
    <a class="nav-link ${ 'active' if request.dmp.page =='index' else ' '}"  href="/catalog/">Catalog</a>
  </li>             
</%block>

<%block name="left_content">
<div style="margin-top:10%; margin-right:10px;">
<ul>
  <!-- //////////////DONT HARD CODE THIS ////////////////// -->
 <li class="catlist ${'active' if category is None else ' '}">
     <a href="/catalog/index/">All Products</a>
</li>
<hr>
%for cat in cmod.Category.objects.order_by('name'):
<li class="catlist ${'active' if category == cat else ' '}">
  <a href="/catalog/index/${cat.id}">${cat.name}</a>
</li>
%endfor


</ul>
</div>
</%block>

<%block name="right_content">

<p class="quote">
    "Get in loser, we're going shopping"<br>
    - Regina George
</p>

</%block>
