<%inherit file="app_base.htm" />
<%! from catalog import models as cmod %>

<%block name="page_header_title">
${ 'Catalog' if category is None else category.name}
</%block>

<%block name="site_content">
<div id="content" style="margin:0 0px;">
    <div class="parent">
    %for product in products:
        <span class="product_container" data-product-id="${product.id}"></span>
    %endfor
   </div>
    <table class="nextprev" width=100%>
        <tr>
            <td style="float:right; margin-right: 0;">
                    %if page-1 != 0:
                    <a class="btn btn-lg mybtn" href="/catalog/index/${category if category is not None else '-'}/${page-1}">Previous</a>
                    %endif
            </td>
        
            <td width=50%>       
                %if page != numpages:
                <a class="btn mybtn btn-lg" href="/catalog/index/${category if category is not None else '-'}/${page+1}">Next</a>
                %endif
            </td>
        </tr>
    </table>
</div>
</%block>

<%block name="right_content">
<p class="formlabel" style="font-size:18px; text-align: center; padding-top:20%; color: #2e92779f;">Quote of the day</h1>
<p class="quote">
    "On Wednesdays we wear pink"<br>
    - Karen Smith

    
</p>

</%block>