<%inherit file="app_base.htm" />


<%block name="page_header_title">
Product Details
</%block>

<%block name="site_content">

<div class="content">
    <table>
        <tr>
            <td width="8%" height="auto" class="parent">
            %for img in imageurls:
                <img src="${img}" class="prodimg">
            %endfor
            </td>
            <td width="10px">
                &nbsp;
            </td>
            <td width="38%">
                <img src="${imageurls[0]}" class="prodimgmain">
            </td>
            <td width="55%">
               <div class="prodinfo">
                   <p class="prodtitle">
                        ${name}
                   </p>
                   <p class="proddesc">
                        ${desc}
                   </p>
                   <p class="prodprice">
                        $${price}
                   </p>
                   <p class="prodquant">
                       Only ${quant} left!
                   </p>
                   <a class="btn mybtn btn-lg" href="/catalog/index/-/1">Back to products</a>
               </div>
            </td>
        </tr>
    </table>
</div>


</%block>

