/* CARDS */
#cards{
    opacity: 0;
    margin-top:55px;
    font-family: 'Renner';
    background-size: 100%;
}

.cardList{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(8,10vw);
  align-items:center;
}


#cardLists{
    opacity: 0;
    padding-top:10vh;
    background-size: 100%;
    transition: transform .5s ease-in-out;
}

#imgURL{
    opacity: 0;
}

.inactiveCard{
    filter: grayscale(100%) brightness(75%) drop-shadow(15px 15px 5px rgba(34, 34, 34, 0.281))!important;
    transition: filter .5s ease-in-out;
}

.listTitle{
    font-size: 5vw;
    text-transform: capitalize;
}

.listSection{
    padding:5vw;
    padding-bottom:0vw;
}
.smallCard{
    width: 100%;
    filter: grayscale(0%) brightness(100%) drop-shadow(15px 15px 5px rgba(34, 34, 34, 0.281));
    transition: filter .5s ease-in-out;
}
.smallCard :hover{
    opacity: .8;
}
.spacer{
    min-height: 55px;
}

/* FILTERS */
.activeFilter{
   color:white;
   transition: color .5s ease-in-out;
}
#filtersDiv{
    position: fixed;
    width: 100vw; 
    top:-10px;
    height: 75px;
    background-color:rgb(47, 197, 197);
    color: white;
    font-size: 20px;
    box-shadow: rgba(0, 0, 0, 0.507) 5px 5px 5px 0px;
    transition: top 2s;
    z-index: 600;
}
#filters{
    width: 100vw;
    top:0;
    text-align: center;

}

.inactive #sortby{
    margin-top:-300px;
}
#filtersTab{
    color:rgba(255, 255, 255, 0.63);
    position: absolute;
    right:0;
    transform:translate(-5vw);
    background-color:inherit;
    font-size: 20px;
    padding:10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.507) 5px 5px 5px 0px;
    z-index: 900;
}
#inactiveIcon{
    padding-top:105px;
}
#memberFilter:hover, #eventFilter:hover, #inactiveFilter:hover{
    color: rgba(255, 255, 255, 0.842);
}
.larger{
    font-size: 200%;
}
.smaller{
    font-size: 75%;
}

#sortby{
    display: inline-flex;
    width: auto;
    padding-bottom: 10px;
}
#filtersTab p{
    margin:0;
}



/* LOADING */
#loadingScreen{
    position: fixed;
    z-index: 1020;
    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(255, 255, 255, 0.627);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .5ms ease-in-out;
}

#loadingScreen img{
max-width: 50vw;
}



/* POPUP */
.activeCard{
    opacity: 1;
    z-index: 1000;
}

#cardsScroller {
    position: relative;
    width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.753);
}

#cardSlider {
    position: relative;
    transition: transform .4s ease-in-out; 
}

.closeSlider{
    color: rgb(255, 255, 255);
    opacity: .7;
    font-size: 20px;
    margin: 20px 20px;
    position: absolute;
    z-index: 1;
    -webkit-transition: font-size 0.4s;
    transition: font-size 0.4s;
}
.closeSlider:hover{
    font-size: 23px;
    opacity: .5;
}

.sliderContainer .cardContainer {
    display: block;
    float: left;
}
.cardContainer{
    position: relative;
    margin:0px;
    margin-left:0px;
    margin-right: 0px;
}
.sliderContainer .cardContainer .sliderCard {
    position: relative;
    transition: transform .4s ease-in-out; 
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.sliderContainer{
    overflow: hidden;
    width: 100vw;
    padding: 50px 0 50px 0;
    position: relative;
    transition: transform .5s ease-in-out;
}
.sliderCard{
    max-height: calc(90vh - 55px); ;
    max-width: 60vw;
    height: 100vh;
    object-fit: contain;
}
#cardPopUp{
    position: fixed;
    top: 55px;
    left: 0px;
    display: none;
    opacity: 0;
    z-index: 1000;

    transition: opacity .5s ease-in;
}

.widthGetter{
    position: absolute;
    width: 100vw;
    top: 0;
    left:-100vw;
    opacity: 0;
}

