<%inherit file="base.htm" />

<%block name="navbar_items">
                <li class="mynav-item">
                      <a class="nav-link ${ 'active' if request.dmp.page =='index' else ' '}"  href="/">Home</a>
                    </li>
                    <li class="mynav-item">
                        <a class="nav-link ${ 'active' if request.dmp.page =='contact' else ' '}" href="/contact/">Contact</a>
                      </li>
                      <li class="nav-item mynav-item">
                        <a class="nav-link ${ 'active' if request.dmp.page =='catalog' else ' '}"  href="/catalog/">Catalog</a>
                      </li>
</%block>

<%block name="left_content">
<ul>
    <li class="mynav-item">
        <a class="nav-link " data-toggle="tab" href="/">Home</a>
      </li>
      <li class="mynav-item">
          <a class="nav-link " data-toggle="tab" href="/contact/">Contact</a>
        </li>
</ul>


</%block>

<%block name="right_content">

<p class="quote">
    I don’t care what your secret is <br>
All of your stories<Br>
Let me politely decline, not my business<br>
I like it like this, talk talkless<br>

- IU "BBIBBI"
</p>

</%block>
