## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>

    <title>
        Rifftide
        <%block name="page_title">
                My Project!
            </%block>
        </title>

 
        ## add any site-wide scripts or CSS here; for example, jquery:
        <!-- <script src="${ STATIC_URL }homepage\media\jquery.js"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="${STATIC_URL}homepage/media/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="${STATIC_URL}homepage/media/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->
         <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/fonts/glyphs.css">
         <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/fonts/josefin.css">
         <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/fonts/centurygothic.css">
         <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/base.scss">
         <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/base.scss.css">
        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }
        <link rel="icon" href="${ STATIC_URL }homepage/media/favicon.ico">

            <%block name="head">
            </%block>

            <%block name="BodyBackImage">
            <style>
            html{
                background: black url("https://storage.cloud.google.com/rifftidesite-content/whitesparkle2.jpg");
            }
            </style>
            </%block>

<style>
    html{
        background: black;
    }
body{
    background: none;
}
.bigger{
    font-size:178px !important;
    text-shadow: 0px 12px 13px rgba(11, 216, 216, 0.699) !important;
}
</style>

    </head>
    <body>
        <header>
        <div id="Topbar">
            
                <ul class="myNav">
                    <li class="homeImg">
                        <img src="${ STATIC_URL }homepage/media/thick logo.png" alt="python"  />
                    </li>
                    <li>

                    </li>
                   
                    <%block name="navbar_items">
                    <li class="nav-item mynav-item">
                      <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/store/">Store</a>
                    </li>         
                    <li class="nav-item mynav-item" id="musictab">
                        <a class="nav-link"  href="https://open.spotify.com/artist/6TRcbaV03EF0bofJNKUSI8" target="_blank">Music</a>
                    </li>  
                    <li class="nav-item mynav-item" style="float:right">
                        <a class="nav-link glyphicon twentyfour"  href="https://www.youtube.com/rifftideacapella" target="_blank">L</a>
                    </li> 
                    <li id="instagram" style="float:right">
                      <a class="nav-link glyphicon twentyfour" href="https://www.instagram.com/rifftideacappella/" target="_blank">K</a>
                    </li>    
                    <li id="instagram" style="float:right">
                        <a class="nav-link glyphicon twentyfour" href="https://www.facebook.com/rifftideacappella/" target="_blank">J</a>
                    </li>    
                  </%block>
                        %if request.user.is_authenticated:
                        <li class="nav-item mynav-item">
                            <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/portal/">Member Portal</a>
                        </li> 
                        <li class="nav-item mynav-item" style="float: right;">
                                <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/account/logout">Logout</a>
                        </li>   
                        %if request.user.has_perm('account.changeOrders'):
                        <li class="nav-item mynav-item">
                                <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/adminportal/">Admin Portal</a>
                        </li> 
                        %endif
                        
                        %else:
                        <li class="nav-item mynav-item" style="float: right;">
                                <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/account/login">Login</a>
                        </li>    
                        %endif
                 </ul>
        </div>

            <div id="bigTitle" class="title ${'bigger' if request.dmp.page =='index' else ''}" style="font-family:Josefin;font-weight: bolder;">
                <%block name="page_header_title">
                We are
                </%block></div>
        </header>
        
       <table class=main>
           <tr>
            <td id="site_left">
                <%block name="left_content">Left Side</%block>
            </td>
            
            <td id="site_middle">
           
                <%block name="site_content">Error Page Content not found</%block>
            </td>
            <%block name="site_right">
            <td id="site_right" >
            </%block>
                <%block name="right_content">right Side</%block>
            </td>
        </tr>
        </table>

        <footer>
            
            <%! from datetime import datetime %>

           <p class="copy"> &copy; ${ datetime.now().strftime("%Y") } Isaac McDougal</p>

        </footer>

        </body>

</html>
<script>
</script>