## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
<meta charset="UTF-8">

<head>

    <title>
        Rifftide
        <%block name="page_title">
                My Project!
            </%block>
        </title>

 
        ## add any site-wide scripts or CSS here; for example, jquery:
        <!-- <script src="${ STATIC_URL }homepage\media\jquery.js"></script> -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="${STATIC_URL}homepage/media/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="${ STATIC_URL }homepage/media/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->
         
         <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/base.scss">
        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }
        <link rel="icon" href="${ STATIC_URL }homepage/media/favicon.ico">

    </head>
    <body>
        <header>
        <div id="Topbar">
            
                <ul class="myNav">
                    <li class="homeImg">
                        <img src="${ STATIC_URL }homepage/media/thick logo.png" alt="python" />
                    </li>
                    <%block name="navbar_items">

                    </%block>
                 </ul>
        </div>

            <div id="bigTitle" class="title"><%block name="page_header_title">
                We are
                </%block></div>
        </header>

        <main>
            <div id="site_left" class="">
                <%block name="left_content">Left Side</%block>
            </div>
            <%block name="site_middle">
            <div id="site_middle" class="leftoff">
            </%block>
                <%block name="site_content">Error Page Content not found</%block>
            </div>

            <div id="site_right" >
                <%block name="right_content">right Side</%block>
            </div>
        </main>

        <footer>
            
            <%! from datetime import datetime %>

           <p class="copy"> &copy; ${ datetime.now().strftime("%Y") } Isaac McDougal</p>

        </footer>

        </body>

</html>
<script>
</script>