## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
<meta charset="UTF-8">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Isaac McDougal">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">



        <title>Rifftide<%block name="page_title"></%block></title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/global.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="${ STATIC_URL }homepage/scripts/global.js"></script>
        <%block name = "page_links">
        <link rel="stylesheet" href="${ STATIC_URL }homepage/styles/home.css">
        <link rel="stylesheet" media="(max-width:1375px)" href="${ STATIC_URL }homepage/styles/home-mobile.css">
        <script src="${ STATIC_URL }homepage/scripts/home.js"></script>
        </%block>


        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        
        <link rel="icon" href="${settings.IMAGE_URL}logos/favicon.ico">

    </head>
    <body>
        <div id="header">
            <div id="nav">
                <div class="navHead">
                    <a href="/"><img class="navLogo" src="${settings.IMAGE_URL}logos/thick logo - darker.png" alt="Rifftide Logo"></a>
                </div>
                <ul>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                    <li>
                        <a href="/cards/">Cards</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="content" class="content-wrap">
            <%block name="page_content">
            </%block>
        </div>
        <div class="footer centerRow">

                <p class=icon><a href="https://instagram.com/rifftidemusic" target="_blank">d</a></p>
                <p class=icon><a href="https://facebook.com/rifftideacappella" target="_blank">b</a></p>
                <p>&copy; Isaac McDougal 2020</p>
                <p class=icon><a href="https://Youtube.com/rifftide" target="_blank">w</a></p>
                <p class=icon><a href="https://twitter.com/rifftidemusic" target="_blank">n</a></p>

        </div>
    </body>
    <%block name="page_scripts">
        <script type="text/javascript">
            //let showLocation;
            function ready(fn) {
                if (document.readyState != 'loading') {
                    fn();
                } else {
                    document.addEventListener('DOMContentLoaded', fn);
                }
            }

            ready(function () {
                Global.init();
                hoverOn = Global.hoverOn
                hoverOff = Global.hoverOff
            });
        </script>
    </%block>

</html>
