<%inherit file="app_base.htm" />
<%block name = "headLinks">
<link rel="stylesheet" href="${ STATIC_URL }homepage/styles/cards.css">
<script src="${ STATIC_URL }homepage/scripts/cards.js"></script>
</%block>

<%block name="page_content">
<div class="cardsContent">
    <!-- <div id="loadingScreen">LOADING CARDS...</div> -->
    <div id="cards" style="background-image: url('${STATIC_URL}homepage/media/backgrounds/whiteVelvet.jpg'); background-size: 100%;">
      <div id="filtersDiv">
            <div id="filters">
              <div id="sortby">
              </div>
              
            </div>
            <div id="filtersTab" >
              <p><span id="memberFilter" onclick="toggleFilters()"><span class="icon">p</span> Member</span> | <span id="eventFilter"><span class="icon">x</span> Event</span> | <span id="inactiveFilter" onclick="showInactives()"><span id="inactiveIcon" class=icon>S</span> Inactives</span>  </p>
          </div>
      </div>
        <div id="cardLists">
        </div>
    </div>
    <div id="cardPopUp">
        <p class="closeSlider icon" onclick="closeModal()">*</p>
        <div id="cardsScroller" >
            <div class="sliderContainer">
                <div id="cardSlider">
                </div>
            </div>
        </div>
    </div>
    <div id="imgURL">${STATIC_URL}homepage/media/cards/</div>
</div>
</%block>

<%block name="page_scripts">
<script type="text/javascript">
    //let showLocation;
    function ready(fn) {
        if (document.readyState != 'loading') {
            fn();
        } else {
            document.addEventListener('DOMContentLoaded', fn);
        }
    }

    ready(function () {
      Global.init();
      Cards.init();
      prev = Cards.prev
      next = Cards.next
      showCards = Cards.showCards
      switchCards = Cards.switchCards
      closeModal = Cards.closeModal
      toggleFilters = Cards.toggleFilters
      showInactives = Cards.showInactive
});
</script>
</%block>