<%inherit file="app_base.htm" />


<%block name="page_title">&mdash; Home</%block>

<%block name="page_content">
<div class="homeContent">
  <div class="slide" id="slide1">
      <div class="imgDiv" id="imgDiv1">
          <div class="blackCover"></div>
          <img class="homeSlideImage" src="${ settings.IMAGE_URL }backgrounds/Jumpin.jpg">
      </div>
      <div class="slidediv center" id="slidediv1">
          <div>
              <p id="p1">
                  <span id="we">We</span> <span id="are">Are</span><br></span><span id="rifftide"><span id="riff">Riff</span><span class="splitter"></span><span id="tide">tide</span></span>
              </p>
          </div>
          <p id="down1" class="icon homeIcon bottom">
              <span onclick="scrollToDiv('slide2')" onmouseover="hoverOn('down1')" onmouseout="hoverOff('down1')">#</span>
          </p>
      </div>
  </div>
  <div class="slide" id="slide2">
      <div class="imgDiv" id="imgDiv2">
          <div class="blackCover"></div>
          <img class="homeSlideImage" src="${ settings.IMAGE_URL }backgrounds/Facebook Header.png">
      </div>
      <div class="slidediv center" id="slidediv2">
          <p id="up2" class="icon homeIcon top">
              <span onclick="scrollToDiv('slide1')" onmouseover="hoverOn('up2')" onmouseout="hoverOff('up2')">%</span>
          </p>
          <div>
              <p class="homeTitle">
                  Meet the Members
              </p>
              <p class="homeSubtitle">
                  View <a>member profiles</a> or browse <a>member cards</a>
              </p>
          </div>
          <p id="down2"class="icon homeIcon bottom">
              <span onclick="scrollToDiv('slide3')" onmouseover="hoverOn('down2')" onmouseout="hoverOff('down2')">#</span>
          </p>
      </div>
  </div>
  <div class="slide" id="slide3">
      <div class="imgDiv" id="imgDiv3">
          <div class="blackCover"></div>
          <img class="homeSlideImage" src="${ settings.IMAGE_URL }backgrounds/T-shirt banner.png">
      </div>
      <div class="slidediv center" id="slidediv3" >
          <p id="up3" class="icon homeIcon top">
              <span onclick="scrollToDiv('slide2')" onmouseover="hoverOn('up3')" onmouseout="hoverOff('up3')">%</span>
          </p>
              <div>
                  <p class="homeTitle">
                      Support Our Music
                  </p>
                  <p class="homeSubtitle">
                      Check out our <a>Merch</a> or <a>Donate</a> through patreon!
                  </p>
              </div>
          <p id="down3" class="icon homeIcon bottom">
              <span onclick="scrollToDiv('slide4')" onmouseover="hoverOn('down3')" onmouseout="hoverOff('down3')">#</span>
          </p>
      </div>
  </div>
  <div class="slide" id="slide4">
      <div class="imgDiv" id="imgDiv4">
          <div class="blackCover"></div>
          <img class="homeSlideImage" src="${ settings.IMAGE_URL }backgrounds/MV.gif">
      </div>
      <div class="slidediv center" id="slidediv4" >
          <p id="up4" class="icon homeIcon top">
              <span onclick="scrollToDiv('slide3')" onmouseover="hoverOn('up4')" onmouseout="hoverOff('up4')">%</span>
          </p>
              <div>
                  <p class="homeTitle">
                      Watch Our Videos
                  </p>
                  <p class="homeSubtitle">
                      Check out our <a href="https://youtube.com/rifftide" target="_blank" >Music Videos</a> on <a href="https://youtube.com/rifftide" target="_blank"> Youtube</a>
                  </p>
              </div>
          <p id="down4" class="icon homeIcon bottom">
              <span onclick="scrollToDiv('slide5')" onmouseover="hoverOn('down4')" onmouseout="hoverOff('down4')">#</span>
          </p>
      </div>
  </div>      
  <div class="slide" id="slide5">
      <div class="imgDiv" id="imgDiv5">
          <div class="blackCover"></div>
          <img class="homeSlideImage" src="${ settings.IMAGE_URL }backgrounds/comparison.png">
      </div>
      <div class="slidediv center" id="slidediv5" >
          <p id="up5" class="icon homeIcon top">
              <span onclick="scrollToDiv('slide4')" onmouseover="hoverOn('up5')" onmouseout="hoverOff('up5')">%</span>
          </p>
              <div>
                  <p class="homeTitle">
                      Stream Our Music
                  </p>
                  <p class="homeSubtitle">
                      Stream our songs on <a>Spotify</a>,<a>iTunes</a>,<a>Apple Music</a>,<a>AmazonMusic</a>, and <a>More!</a>
                  </p>
              </div>
          <p id="down5" class="icon homeIcon bottom">
              <span onclick="scrollToDiv('slide6')" onmouseover="hoverOn('down5')" onmouseout="hoverOff('down5')">#</span>
          </p>
      </div>
  </div>
  <div class="slide" id="slide6">
      <div class="imgDiv" id="imgDiv6">
          <div class="blackCover"></div>
          <img class="homeSlideImage" src="${ settings.IMAGE_URL }backgrounds/contactback.jpg">
      </div>
      <div class="slidediv center" id="slidediv6" >
          <p id="up6" class="icon homeIcon top">
              <span onclick="scrollToDiv('slide5')" onmouseover="hoverOn('up6')" onmouseout="hoverOff('up6')">%</span>
          </p>
              <div>
                  <p class="homeTitle">
                      Contact Us
                  </p>
                  <p class="homeSubtitle">
                      <a href="mailto:rifftideacapella@gmail.com">Contact us</a> for <a href="mailto:rifftideacapella@gmail.com">Bookings</a>, <a href=mailto:rifftideacapella@gmail.com>Collaborations</a>, or anything else!
                  </p>
              </div>
          <p class="bottom">

          </p>
      </div>
  </div>
</div>
</%block>

<%block name="page_scripts">
<script type="text/javascript">
  //let showLocation;
  function ready(fn) {
      if (document.readyState != 'loading') {
          fn();
      } else {
          document.addEventListener('DOMContentLoaded', fn);
      }
  }

  ready(function () {
      Global.init();
      Home.init();
      scrollToDiv = Home.scrollToDiv
      hoverOn = Global.hoverOn
      hoverOff = Global.hoverOff
  });
</script>
</%block>