<%inherit file="/homepage/templates/base.htm" />
<%! from store import models as cmod %>


<%block name="page_title">&mdash; Store</%block>


<%block name="page_header_title">
store
</%block>


<%block name="navbar_items">
  <li class="nav-item mynav-item">
    <a class="nav-link ${ 'active' if request.dmp.page =='index' else ' '}"  href="/store/">Store</a>
  </li>         
  <li class="nav-item mynav-item" id="musictab">
      <a class="nav-link"  href="https://open.spotify.com/artist/6TRcbaV03EF0bofJNKUSI8" target="_blank">Music</a>
  </li>  
  <li class="nav-item mynav-item" style="float:right">
      <a class="nav-link glyphicon twentyfour"  href="https://www.youtube.com/rifftideacapella" target="_blank">L</a>
  </li> 
  <li id="instagram" style="float:right">
    <a class="nav-link glyphicon twentyfour" href="https://www.instagram.com/rifftideacappella/" target="_blank">K</a>
  </li>    
  <li id="instagram" style="float:right">
      <a class="nav-link glyphicon twentyfour" href="https://www.facebook.com/rifftideacappella/" target="_blank">J</a>
  </li>    
</%block>

<%block name="left_content">

</%block>


<%block name="right_content">

</%block>
