<%inherit file="/homepage/templates/base.htm" />
<%! from store import models as cmod %>


<%block name="page_title">&mdash; Store</%block>


<%block name="page_header_title">
store
</%block>


<%block name="navbar_items">
<li class="mynav-item">
  <a class="nav-link ${ 'active' if request.dmp.page =='' else ' '}"  href="/">Home</a>
</li>
  <li class="nav-item mynav-item">
    <a class="nav-link ${ 'active' if request.dmp.page =='index' else ' '}"  href="/store/">Store</a>
  </li>             
</%block>

<%block name="left_content">

</%block>


<%block name="right_content">

</%block>
