<%inherit file="app_base.htm" />
<%! from store import models as cmod %>

<%block name="page_header_title">
Cart
</%block>

<%block name="site_content">
<div id="content" style="padding:30px 0px;">
%if len(saleItems) != 0:
    <div class="centerTab">
            <hr>
        <p class="filterstitle"> Your Cart  <span class="glyphicon" style="float: right;">F</span></p>
   
    <table class="carttab" width=100%; style="text-align:center;">
        <tr>
            <th class="cartimg">
                &nbsp;
            </th>
            <th>
                Product Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                Size
            </th>
            <th>
                Price
            </th>
           
            
        </tr>
        %for item in saleItems :
        <tr>
            <td class="cartimg">
                <img src="${item.product.image_url()}" class="cartimg">
            </td>
            <td>
                <a href="/store/product/${item.product.id}"><p class="link">${item.product.shirtColor.capitalize()}${'/' + item.product.decor.capitalize() if item.product.decor != '' else ''} ${item.product.name.capitalize()} T-Shirt</p></a>
            </td>
            <td>
                ${item.quantity}
            </td>
            <td>
              ${item.size}
            </td>
            <td>
                $${round(item.price,2)} 
            </td>
            <td>
                <a class="rmv glyphicon" href="/store/cart.remove/${item.id}/">B</a>
            </td>
        </tr>
        %endfor
        <tr >
            <td>
                &nbsp;
            </td>
            <td>
                Shipping
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                $${tax}
            </td>
            <td>
                 &nbsp;
            </td>

        </tr>
        <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    Total
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                    &nbsp;
                </td>
                <td>
                   $${total}
                </td>
                <td>
                     &nbsp;
                </td>
    
            </tr>
    </table>
<hr>
<p class="filterstitle">Shipping <span class="glyphicon" style="float: right;" id="shipCheck">E</span></p>
<form method="POST">
    <p class="formlabel" style="font-size:20px;padding-left:20px; display:inline-block;">Shipping Option:
        <select name="shipSelect" class="shipSelect forminput" style="font-size:20px;padding:5px 10px;">
            <option value="">  </option>
            <option value="IP">In Person - FREE </option>
            <option value="MAIL">UPS Shipping</option>
        </select>
    
    <span class="personselectspan hide" name="personSelect" style="margin-left:20px;" > Referring Member:
            <select name="personSelect" class="personselect forminput" style="font-size:20px;padding:5px 10px;">
                <option value=" ">  </option>
                <option value="LN">Loryn Norton</option>
                <option value="CN">Cara Nickels</option>
                <option value="BE">Bri Ellis</option>
                <option value="LS">Laurel Scott</option>
                <option value="ZB">Zachary Boyce</option>
                <option value="IM">Isaac McDougal</option>
                <option value="JJ">Johnnie Johnson</option>
                <option value="SH">Samuel Hepworth</option>
            </select>
    </span>
    
    <input type="submit"  value="${'Checkout' if shipSelect == None else 'Save'}" id="checkoutbtn" class="mybtn clearbtn hide" style="margin-left:20px;"></a>

</form>
</p>
</div>
%if shipSelect != None:
<hr>
<p class="filterstitle">Payment <span class="glyphicon" style="float: right;">E</span></p>
<div width=100%; style="text-align: center" id="Payments">
    <div id="paypal-button-container" style="display:inline-block"></div>
    <hr>
</div>

%endif
</div>
%else:
<div class="centerTab">
    <p class="homeparg">You have no items in your cart!<br> Add one <a href="/store/">here.</a></p>
    
</div>

%endif
<input id="randomTag" name="orderid" type="hidden"></p>

</%block>




<%block name="left_content">
<script type="text/javascript">
    $(document).ready(function(){

        window.scrollTo(0,1000)

        $("select.shipSelect").val("${shipSelect}")
     
        var selected = $("select.shipSelect").children("option:selected").val();
   
        if (selected == "IP"){
            $(".personselectspan").addClass("show")
            $(".personselectspan").removeClass("hide")
            $("select.personselect").val("${personSelect}") 
        }
        if (selected != " "){
            $("#shipCheck").html('F');
        }


        $("select.shipSelect").change(function(){
            var selected = $(this).children("option:selected").val();
            if (selected == "IP"){
                $(".personselectspan").addClass("show")
                $(".personselectspan").removeClass("hide")
                $("#shippingbtn").addClass("hide")
                $("#shippingbtn").removeClass("show")
            }
            if (selected == "MAIL"){
                $(".personselectspan").addClass("hide")
                $(".personselectspan").removeClass("show")
                $("#checkoutbtn").addClass("show")
                $("#checkoutbtn").removeClass("hide")
            }            
        });
        $("select.personselect").change(function(){
            var selected = $(this).children("option:selected").val();
            if (selected == ""){
                $("#checkoutbtn").addClass("hide")
                $("#checkoutbtn").removeClass("show")
            }
            else{
                $("#checkoutbtn").addClass("show")
                $("#checkoutbtn").removeClass("hide")
            }
        });
       

    });
    </script>

<script src="https://www.paypal.com/sdk/js?client-id=${SBClientId}&currency=USD"></script>
        <script>
          paypal.Buttons({
            createOrder: function(data, actions) {
              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: '${total}'
                  }
                }]
              });
            },
            onApprove: function(data, actions) {
              return actions.order.capture().then(function(details) {
                //alert('Transaction completed by ' + details.payer.name.given_name);
                // Call your server to save the transaction

                variable = data.orderID

                $.ajax({
                type: "POST",
                url: "/store/cart.finishSale/" + data.orderID,
                }).done(function(data) {
            
                    window.location.href="/store/receipt/" + variable;

                });

              });
            }
          }).render('#paypal-button-container');
        </script>



</%block>