<%inherit file="app_base.htm" />
<%! from store import models as cmod %>

<%block name="page_header_title">
Checkout
</%block>

<%block name="head">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
</%block>

<%block name="site_content">
<div class="content">
          <div id="paypal-button-container"></div>

      </div>

      

        <!-- Include the PayPal JavaScript SDK -->
        

</%block>

<%block name="right_content">

</%block>