<%inherit file="app_base.htm" />
<%! from store import models as cmod %>

<%block name="page_header_title">
Rifftide Shop
</%block>

<%block name="site_content">
<div id="content" style="margin:0 0px;">
    <div class="parent">
    %for product in products:
        <span class="product_container" data-product-id="${product.id}"></span>
    %endfor
   </div>
   %if len(products) > 0:
    <table class="nextprev" width=100%>
        <tr>
            <td style="float:right; margin-right: 0;">
                    %if page-1 != 0:
                    <a class="btn btn-lg mybtn" href="/store/index/${category if category is not None else '-'}/${page-1}">Previous</a>
                    %endif
            </td>
        
            <td width=50%>       
                %if page != numpages:
                <a class="btn mybtn btn-lg" href="/store/index/${category if category is not None else '-'}/${page+1}">Next</a>
                %endif
            </td>
        </tr>
    </table>
    %else:
    <p class = "feedback">
        No Products found. Adjust the filters to broaden your search
    </p>
    %endif
</div>
</%block>

<%block name="right_content">
<script>
        $("#filterbtn").click(function() {
           if ($(".filters").hasClass("visible")){
            $(".filters").removeClass("visible");
            $(".filters").addClass("hidden");
            $("#filterbtn").html("A");
            $("#filterbtn").removeClass("buttonout");
            $("#site_middle").removeClass("lefton");
            $("#site_middle").addClass("leftoff");
           }
           else{
            $(".filters").removeClass("hidden")
            $(".filters").addClass("visible"); 
            $("#filterbtn").html("H");  
            $("#filterbtn").addClass("buttonout");
            $("#site_middle").removeClass("leftoff");
            $("#site_middle").addClass("lefton");
           }
            }
        )
</script>

<script>
      if( $(filterbtn).hasclass("visible")){
        alert("VISIBLE");
      }  
</script>
</%block>


