<%inherit file="app_base.htm" />
<%! from store import models as cmod %>

<%block name="page_header_title">
Rifftide Shop
</%block>

<%block name="site_content">
<div id="content" style="margin:0 0px;">
    <div class="parent">
    %if len(products) == 0:
    <p class="homeparg">Error: No Products. Contact rifftideacapella@gmail.com</p>
    %endif
    %for product in products:
        <span class="product_container" data-product-id="${product.id}">
                <a class="nocolor" href="/store/product/${product.id}">
                    <div class="product-tile">
                        <div><img class="product-image" src="${product.image_url()}"></div>
                        <div class="product-name">${product.cut.capitalize() if product.cut != '' else '' } ${product.name.capitalize()} T-Shirt</div>
                        <div class="product-price">$${product.price}</div>   
                    </div>
                </a>
        </span>
    %endfor
   </div>
   %if len(products) > 0:
    <table class="nextprev" width=100%>
        <tr>
            <td style="float:right; margin-right: 0;">
                    %if page-1 != 0:
                    <a class="btn btn-lg mybtn" href="/store/index/${page-1}/${category.id if category is not None else '-'}/${colorid}">Previous</a>
                    %endif
            </td>
        
            <td width=50%>       
                %if page != numpages:
                <a class="btn mybtn btn-lg" href="/store/index/${page+1}/${category.id if category is not None else '-'}/${colorid}">Next</a>
                %endif
            </td>
        </tr>
    </table>
    %else:
    <p class = "feedback">
        No Products found. Adjust the filters to widen your search
    </p>
    %endif
</div>
</%block>

<%block name="left_content">
<div class="filterpanel">
  <div class="filters">
      
    <p class=filterstitle> <span id="filterbtn" class="">A</span>  Filters</p>
    <ul>
      <!-- //////////////DONT HARD CODE THIS ////////////////// -->
    <li class="catlist ${'bolder' if category is None else ' '}">
        <a href="/store/index/">All Shirts</a>
    </li>
    <hr>
    <p class=filterstitle>Shirt cut</p>
    %for cat in cmod.Category.objects.order_by('name'):
    <li class="catlist ${'bolder' if category == cat else ' '}">
      <a href="/store/index/1/${cat.id}/${colorid}">${cat.name}</a>
    </li>
    %endfor
    <hr>
    <p class=filterstitle>Shirt color</p>
    <li class="catlist ${'bolder' if colorid == 1 else ' '}">
      <a href="/store/index/1/${catid}/1">Black</a>
    </li>
    <li class="catlist ${'bolder' if colorid == 2 else ' '}">
        <a href="/store/index/1/${catid}/2">White</a>
    </li>
    <li class="catlist ${'bolder' if colorid == 3 else ' '}">
        <a href="/store/index/1/${catid}/3">Teal</a>
    </li>
    <li class="catlist ${'bolder' if colorid == 4 else ' '}">
        <a href="/store/index/1/${catid}/4">Grey</a>
    </li>
    </ul>
  </div>
</div>
</%block>


<%block name="right_content">
%if len(saleItems) > 0:
<a href="/store/cart/">
<div class="filterpanel">
        <div class="filters" style="border: 10px rgba(245, 245, 245, 0.589) solid; width: 10vw">
        <p class=filterstitle>My Cart <span class="glyphicon">C</span></p>
        <hr>
        <ul>
            %if len(saleItems) <= 3:
                %for item in saleItems:
                <li>
                    <img src="${item.product.image_url()}" class="cartimg" style="width:100%">
                </li>
            
                %endfor
            %else:
            <li>
                    <img src="${saleItems[0].product.image_url()}" class="cartimg" style="width:100%">
            </li>
            <li>
                    <img src="${saleItems[1].product.image_url()}" class="cartimg" style="width:100%">
            </li>
            <li>
                    <img src="${saleItems[2].product.image_url()}" class="cartimg" style="width:100%">
            </li>
            <li style="text-align: center">...</li>
            %endif
            <hr>
            <li class="cartlist ">
                <p>Total: $${sale.total}</p>
            </li>
            <hr>
            <li class="cartlist bolder"> 
                <a href="/store/cart/">Checkout Now</a>
            </li>
        </ul>
        </div>
</div>
</a>
%endif

<!-- <script>
        $("#filterbtn").click(function() {
           if ($(".filters").hasClass("visible")){
            $(".filters").removeClass("visible");
            $(".filters").addClass("hidden");
            $("#filterbtn").html("A");
            $("#filterbtn").removeClass("buttonout");
            $("#site_middle").removeClass("lefton");
            $("#site_middle").addClass("leftoff");
           }
           else{
            $(".filters").removeClass("hidden")
            $(".filters").addClass("visible"); 
            $("#filterbtn").html("H");  
            $("#filterbtn").addClass("buttonout");
            $("#site_middle").removeClass("leftoff");
            $("#site_middle").addClass("lefton");
           }
            }
        )
</script> -->
</%block>


