<%inherit file="app_base.htm" />


<%block name="page_header_title">
Product Details
</%block>

<%block name="left_content">

</%block>

<%block name="site_content">

<div class="content">
    <table>
        <tr>
            <td width="38%">
                <img src="${imageurl}" class="prodimgmain">
            </td>
            <td width="55%">
               <div class="prodinfo">
                   <p class="prodtitle">
                        ${name.capitalize()} T-Shirt
                        

                   </p>
                    <p class="prodcolor">
                        %if shirtColor != decorColor:
                        ${shirtColor} / ${decorColor}
                        %else:
                        ${shirtColor}
                        %endif

                        <span class="prodprice">
                                $${price}
                        </span>


                    </p>
                    <p class="proddesc">
                            ${desc}
                    </p>
                   <p class="variationTitle">Other Styles:</p>
                   <div class="options">
                       %for var in variations:
                       <input type="checkbox" class="hide" id="${var.id}">
                       <a id="${var.name}-${var.id}" href="/store/product/${var.id}"class="optionButton"><img src="${var.image_url()}""></a>
                       %endfor
                   </div>

                   
                   <form style="vertical-align:middle;" method="POST" id="productform">

                   
                    <label class="formlabel" style="font-size:18px;">Quantity:</label>
                    <input type="number" value="0" class="forminput" step="1" name="QuantOrd">
                    <select name="shirtSize" class="forminput size">
                            <option value="XS">Adult XS</option>
                            <option value="S">Adult Small</option>
                            <option value="M">Adult Medium</option>
                            <option value="L">Adult Large</option>
                            <option value="XL">Adult XL</option>

                            <option value="YXS">Youth XS</option>
                            <option value="YS">Youth Small</option>
                            <option value="YM">Youth Medium</option>
                            <option value="YL">Youth Large</option>
                            <option value="YXL">Youth XL</option>
                    </select>
                    <input type="submit" class="mybtn buybtn" value="Buy Now">
                    %if message != '':
                    <p class = "alert alert-danger" style="text-align: center;">${message}</p>
                    %endif
                   </form>


                   <a class="mybtn" href="/store/index/1/">Back to products</a>
               </div>
            </td>
        </tr>
    </table>
</div>


</%block>

<%block name="right_content">
<script>
</script>
</%block>
